@media (max-width: 1536px) {
  .carousel {
    max-width: 50%;
  }
}

@media (max-width: 1200px) {
  .carousel {
    max-width: 60%;
    justify-content: space-around;
  }
}

@media (max-width: 900px) {
  .carousel {
    max-width: 70%;
    justify-content: space-around;
  }
}

@media (max-width: 600px) {
  .carousel {
    max-width: 90%;
    justify-content: space-around;
  }
}